<p>
  <strong>Word:</strong>
  <%= @entry.word %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @entry.definition %>
</p>

<p>
  <strong>Example:</strong>
  <%= @entry.example %>
</p>

<%= link_to "Back", entries_path %>
